{% extends 'emails/layout.html.twig' %}

{% block body %}
    <h1>Validate your account</h1>

    <p>
        Hello {{ user.firstName }},
    </p>

    <p>
        You have registered on our website. To validate your account, please click on the following link:
    </p>

    <p>
        <a href="{{ url('auth_register_validate', {token: user.validationToken}) }}">Validate my account</a>
    </p>

    <p>
        See you soon!
    </p>

{% endblock %}
